<table>
  <tr>
    <th>Name</th>
    <th>Topping</th>
    <th>Quantity</th>
    <th>Details</th>
  </tr>
  <% for order in @orders %>
  <tr>
    <td><%= order.pretty_name() %></td>
    <td><%= order.topping() %></td>
    <td><%= order.quantity() %></td>
    <td><a href="pizza-orders/<%= order.id() %>">More information...</a></td>
  </tr>
  <% end %>
</table>
