<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header><h1>Papa Mario's Pizza Paradise<h1></header>
  <nav>
    <ul>
      <li><a href="/pizza-orders/new">Order a Pizza</a></li>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
