<h3 class="page-title">Order your pizza</h3>
<form method="post" action="/pizza-orders">
  <div>
    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" name="first_name" />
  </div>
  <div>
    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" name="last_name" />
  </div>
  <div>
    <label for="pizza-select">Select a Pizza:</label>
    <select id="pizza-select" name="topping">
      <option value="Margherita">Margherita</option>
      <option value="Hawaiian">Hawaiian</option>
    </select>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input id="quantity" type="number" name="quantity" min="1" />
  </div>
  <div>
  <input type="submit" value="Order Pizza" />
</div>
</form>
